* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(238, 235, 235);
    box-sizing: border-box;
    width: 100%;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    padding: 20px;
}

#container {
    width: 990px;
    display: flex;
    justify-content: space-between;

}

#logo {
    display: flex;
    align-items: center;

}

#menu {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;


}

nav ul {
    display: flex;
}

nav ul,
nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #b3b3b3;
    display: block;
    padding: 15px;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #38a3a5;
    color: white;

}

nav a:active {
    background-color: #38a3a5;
    color: white;
}

#logo img {
    margin: 20px;
    padding: 20px;
}



#background {
    display: flex;
    justify-content: center;
    background-image: url(imagens/mulher2.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;



}

.column {
    flex-direction: column;
}

.area-principal {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 50px;
    width: 300px;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    font-size: 25px;
    text-align: center;



}

.area-principal h1 {
    color: white;
    align-items: center;
    text-shadow: 6px 3px grey;

}

.area-principal h3 {
    color: white;
    text-shadow: 4px 1px grey;
}

.area-opcoes {


    height: 210px;
    display: flex;



}

.area1,
.area2,
.area3 {
    flex: 1;
    padding: 10px;
}

.area1 {
    background-color: #c7f9cc;
    color: #000000;
}

.area2 {
    background-color: #80ed99;
    color: #000000;
}

.area3 {
    background-color: #57cc99;
    color: #000000;
}


.area1 p,
.area2 p,
.area3 p {
    padding: 10px;
    text-align: justify;
}


.area1 h2,
.area2 h2,
.area3 h2 {
    padding: 5px;
    text-align: center;
}

.opening {
    margin-bottom: 5px;
}

.day p,
.day h3 {
    text-align: center;
}

.day h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.linha {
    width: 250px;
    background-color: #22577a;
    height: 1px;
    margin-top: 5px;
    margin: 0 auto;
}

.button {
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;



}

.button a button {
    width: 100px;
    border-color: none;


}

.button1 {
    background-color: #38a3a5;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 2px;

}

.button2 {
    background-color: #38a3a5;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 2px;
}

.button3 {
    background-color: #38a3a5;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 2px;
}




.section-geral-publicacoes {
    display: flex;
    justify-content: center;
}

#container section {
    flex: 2;


}

#container aside {
    flex: 1;

}


.atualizacao {
    margin-top: 25px;

}



.titulo-lateral h3 {
    font-size: 18px;
    padding: 10px;

}

.linha-lateral {
    width: 100px;
    height: 2px;
    background-color: #22577a;
    margin-bottom: 10px;
    margin-left: 10px;
}

.quadrados-publicacao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;


}

.quadrados-publicacao div {

    background-color: #38a3a5;
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 100px;

}

.pilates-publicacao1 {
    padding: 20px;

}

.pilates-publicacao1 p {
    text-align: justify;
    padding-bottom: 15px;
}


.ler-mais a {
    background-color: #38a3a5;
    padding: 5px;
    width: 70px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(224, 222, 222);
}

.linha-lateral-cinza {
    width: 100%;
    background-color: rgb(189, 185, 185);
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contatos {

    padding: 30px;
    align-items: center;
    background-color: #ebeaea;
    margin: 0;
}



.telefone input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}


.email input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}

.formulario {

    border-radius: 10px;
}

.formulario-contato {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.nome-sobrenome {

    width: 100%;
}

.nome-sobrenome input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}

.country {
    width: 100%;
}

.contry input {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}

.message {


    width: 100%;
}

.message textarea {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
}



.publicacao {
    padding-top: 25px;
    padding-left: 10px;
    margin-right: 10px;


}

.publicacao-body a {
    text-decoration: none;
    color: black;
}

.publicacao-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


article {
    flex: 1;
    min-width: 280px;
    max-width: 280px;


}

article img {

    justify-items: center;



}



.datas-quadrados {
    color: white;
}

.container-publicacao {

    margin: 10px;
}

.imagem-publicacao img {

    padding: 10px;
}

.titulo-publicacao-pilates1 {

    padding: 10px;
    text-align: center;
}

.texto-publicacao-pilates1 {
    padding: 10px;
    text-align: justify;
}







.datas-quadrados {

    height: 50px;
    display: flex;
    align-items: center;


}

.data-publicacao {
    margin: 3px;
    background-color: #57cc99;
    width: 80px;
    text-align: center;
    padding: 5px;
    border-color: none;
}

.data-publicacao2 {
    margin: 3px;
    background-color: #38a3a5;
    width: 30px;
    text-align: center;
    padding: 5px;
    border-color: none;

}


footer{
    background-color:#161616 ;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.divisorias-rodape{
    background-color: #80ed99;
    display: flex;
    flex: 1;
    
  
  
  
}

.pilates-seccion1,
.pilates-seccion2,
.pilates-seccion3{
    flex: 1;
    padding: 20px;

    

}

.pilates-seccion1 h3,
.pilates-seccion2 h3,
.pilates-seccion3 h3{
    padding-bottom: 10px;

    

}

.pilates-seccion1{
background-color: #80ed99;


}

.pilates-seccion2{
    background-color:#57cc99 ;

}

.pilates-seccion3{
    background-color: #38a3a5;
 
    

}

.pilates-seccion1 a,
.pilates-seccion2 a,
.pilates-seccion3 a{
    text-decoration: none;
    color: black;
    padding: 10px;
    text-align: justify;
   

}



.info{
    background-color: #161616;
    color: white;
   
    display: flex;
    justify-content: center;
   
}


.divisorias-info{
    background-color:#161616 ;
    display: flex;
    flex: 1;

}

.info1,
.info2,
.info3{
    flex: 1;
    padding: 20px;
   

}

.info1{
  
}

.info2{
   
}



.paragrafo-info1{
    text-align: center;
    padding: 10px;
}

.informacoes{
   
    padding: 10px;
    display: flex;
    
}

.informacoes1{
    
    padding: 10px;
    flex: 1;
}

.informacoes2{
    
    padding: 10px;
    flex:1;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a{
    text-decoration: none;
}


    

.social img{
    width: 30px;
    padding: 10px;
    align-items: center;

}

.info2 p,
.info2 a{
    margin: 10px;
    text-align: justify;
    text-decoration: none;
}

.info a{
    color:#38a3a5 ;
}


.prossimos-encontros p,
.prossimos-encontros a{
    margin: 10px;
    text-decoration: none;

}

.direitos{
    display: flex;
    background-color: #161616;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 18px;

}

